:root {
    --primary-color: #6A0dad; 
    --secondary-color: #d5006d; 
    --background-color: #f3e5f5; 
    --text-color: #ffffff; 
    
    --button-background: var(--primary-color);
    --button-hover: var(--secondary-color);
    
    --font-size-large: 2em; 
    --font-size-normal: 1.3em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    margin-bottom: 20px;
}

h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 10px;
}

.you, 
.computer {
    margin: 50px 0 0 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex; 
    flex-direction: column;  
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    min-height: 100vh;
    background-color: var(--primary-color);
    background-image: url('image/images.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--text-color);
    z-index: 900;
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.modal-content {
    background-color: var(--background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal headings */
.modal-content h2 {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    margin-bottom: 20px;
}

/* Input field for username */
#username-input {
    width: 100%;
    padding: 10px;
    font-size: var(--font-size-normal);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #000;
}

/* Button styling */
button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: var(--font-size-normal);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover);
}

/* Modal buttons inline */
.modal-content button {
    margin: 10px;
    width: 100px;
    position: relative;
    left: calc(50% - 60px);
}

#game-container {
    width: 90%;
    background: var(--background-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    flex-direction: column;
    min-height: 30vh;
    max-height: 70vh;
    margin-top: 150px;
    position: relative;
    flex-wrap: wrap;
    z-index: 100;
    overflow: hidden;
}

#options, #computer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

#options button, #computer button {
    position: relative;
    width: 60px;
    height: 40px;
    padding: 20px 15px;
    margin: 10px;
    font-size: var(--font-size-normal);
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    max-width: 300px;            
    align-items: center;
    place-content: center;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--button-background);
    transition: transform 0.3s ease-in-out; 
    flex-basis: 30%;    
}

h1 {
    display: block;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-color);
    position: absolute;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: cursive;
    z-index: 1;
    background-color: var(--primary-color);
    border-radius: 20px 20px 0 0;
    margin-bottom: 500px;
}

#rock {
    margin-top: 70px;
}
button {
    position: relative;
    width: 120px;
    height: 80px;
    padding: 20px 15px;
    margin: 10px;
    font-size: var(--font-size-normal);
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    max-width: 300px;            
    align-items: center;
    place-content: center;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--button-background);
    transition: transform 0.3s ease-in-out; 
}

.dance-animation {
    animation: dance 1.5s forwards;
}

@keyframes dance {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(360deg) translate(30px, 60px);
    }
    50% {
        transform: rotate(720deg) translate(0, 0);
    }
    75% {
        transform: rotate(1080 deg) translate(-30px, 60px);
    }
    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}

#options button:hover,
options button:focus {
    background-color: var(--button-hover);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#message {
    margin-top: 20px;
    width: 80vw;
    min-height: 70px;
    z-index: 1;
    margin-bottom: 20px;
    font-size: var(--font-size-large);
    display: fixed;
    top: 40vh;
    color: var(--text-color);
    opacity: 0; 
    font-family: monospace;
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    place-content: center;
    align-text: center;
}

.fall {
    animation: fall 5s forwards; 
    opacity: 1; 
}

@keyframes fall {
    0% {
        transform: translateY(-100px); 
        opacity: 0; 
    }
    50% {
        transform: translateY(0); 
        opacity: 1; 
    }
    
   100% {
       transform: translateY(0); 
       opacity: 1;
   }
}

#play-again {
    display: none;
    white-space: nowrap;
    position: absolute;
    bottom: 20px;
    height: 50px;
    width: auto;
    margin: 20px;
    border-radius: 15px;
    z-index: 10;
}

#score {
    position: fixed;
    top: 25px;
    display: flex;
    left: 5px;
    width: 100vw;
    flex-basis: 33%;
    flex-grow: 1;
    flex-direction: row;
    place-content: center;
    justify-content: space-evenly;
    color: var(--text-color);
}

#score p {
    border: 3px double black;
    margin: 20px;
    padding: 10px;
    background: var(--primary-color);
}

#user-score, #computer-score, #tie-score {
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
}

#user-score {
    color: green; 
    margin-right: 10px;
}

#computer-score {
    color: red; 
    margin-right: 10px;
}

#tie-score {
    color: blue; 
}

#username-display {
    font-family: fantasy;
    font-size: var(--font-size-large);
    background-color: var(--text-color);
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}



.highlight {
    border: 6px solid var(--primary-color); 
    box-shadow: 0 0 30px var(--primary-color);
    transition: box-shadow 0.3s ease, border 0.5s ease;
    }


@media screen and (min-width: 768px) {
    h2 .you,
    h2 .computer {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #score {
        position: fixed;
        top: 30px;
        left: 10px;
        right: 10px;
        display: flex;
        flex-basis: 50%;
        justify-content: space-evenly;
        width: 90vw;
    }

    #user-score, #computer-score, #tie-score {
        font-size: 3em;
    }

    #game-container {
        margin-top: 200px;
        padding-top: 50px;
    }

    #options button, #computer button {
        width: 80px;
        height: 60px;
        padding: 20px 25px;
        font-size: 1.5em;
    }
}
